@import url("../../../common/css/zebra.css");
@import url("../../../common/css/doc-toc.css");


body {
    font-family: 'Roboto',  arial, helvetica, arial, sans-serif;
    font-size: 100%;
    font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures;
    color: black;
    background-color: hsl(0, 0%, 99%);
    padding: 2em 2em;
    hyphens: auto;
    font-kerning: normal;
    font-variant-numeric: oldstyle-nums ;
    max-width: 55em;
    margin: 0 auto;
}

p, li, blockquote, figcaption {
  text-align: justify;
}

p.aclnote {
  font-style: italic;
}
/* --- */

select,
option {
    padding: 0 .25em;
}

optgroup {
    margin-top: .5em;
}

img {
    border: 0;
    max-width: 100%;
}

abbr {
    border-bottom: none;
}

section section {
    margin-left: 1em;
}

/* Links... */

a {
    color: NavyBlue;
    background: transparent;
}

a:link,
a:active {
    background: transparent;
    text-decoration: none;
}

a:visited {
    color: NavyBlue;
    background: transparent;
}

a:hover {
    background-color: yellow;
    color: #00e;
}

a code,
a:link code,
a:visited code {
    color: #4183c4;
}

a:link img,
a:visited img {
    border-style: none
}


/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
    margin-top: 1em;
    padding-bottom: 0.15em;
    border-bottom: 1px solid #ccc;
    background: transparent;
    color: #005a9c;
    font-weight: normal;
}

.title-date {
    font-size: 1.4em;
    color: #005a9c;
    font-weight: normal;
}

footer {
    margin-top: 2em;
    border-top: 1px ridge #ccc;
    font-size: 90%;
}

h1 {
    border-bottom: none;
}

h2 {
  font-size: 110%
}
h3, h4, h5, h6 {
  font-size: 100%;
}

h5,
h6 {
    border: none;
}

header h2 {
    border-bottom: none;
}


hr {
    border: 1px solid #ddd;
}

/* Scores */

td.pass {
    background-color: green;
}

td.fail {
    background-color: indianred;
}

td.na, td.pass, td.fail {
    text-align: center;
}



/* Lists */

ul ul,
ul ol,
ol ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

dt {
    font-weight: bold;
    margin-left: 1em;
}

dd {
    margin-left: 2em;
    margin-bottom: 1em;
}

sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

blockquote.large {
    margin: 1em 0;
    border-left: 5px solid #ddd;
    padding-left: .6em;
    color: #555;
}

.todo {
    background-color: yellow;
    font-style: italic;
}

.strike {
    text-decoration: line-through;
}

#topwarning,
#warning {
    font-size: 124%;
    -epub-text-transform: lowercase;
    text-transform: lowercase;
    font-variant: small-caps;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: ridge;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-left-style: ridge;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    -webkit-box-shadow: 5px 5px 0px 0px gray;
    box-shadow: 5px 5px 0px 0px gray;
    margin-right: 10em;
}

@media print {
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
}

